[@codearts/plugin](../README.md) / ["@codearts/plugin"](../modules/_codearts_plugin_.md) / Verification

# Interface: Verification

["@codearts/plugin"](../modules/_codearts_plugin_.md).Verification

Parameter of display error information in the configuration.

## Table of contents

### Properties

- [errorMessage](codearts_plugin_.Verification.md#errormessage)
- [isError](codearts_plugin_.Verification.md#iserror)
- [key](codearts_plugin_.Verification.md#key)

## Properties

### errorMessage

• **errorMessage**: `string`

Error message to be displayed

#### Defined in

[index.d.ts:5868](https://github.com/shuyaqian/cloudide-plugin-api/blob/3fbdd11/index.d.ts#L5868)

___

### isError

• **isError**: `boolean`

Indicates whether to display error message.

#### Defined in

[index.d.ts:5864](https://github.com/shuyaqian/cloudide-plugin-api/blob/3fbdd11/index.d.ts#L5864)

___

### key

• **key**: `string`

Configuration key.

#### Defined in

[index.d.ts:5860](https://github.com/shuyaqian/cloudide-plugin-api/blob/3fbdd11/index.d.ts#L5860)
